:root {
  --Gold-500: hsl(31, 77%, 52%);
  --Cyan-800: hsl(184, 100%, 22%);
  --Green-950: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Gray-100: hsl(0, 0%, 95%);
  --Font--size: 15px;
  /* font-family: "Lexend Deca", sans-serif; */
  /* font-family: "Big Shoulders", sans-serif; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem;
}

.section-content {
  display: flex;
  background: red;
}
